.formButton {
    background-color: #a28089 !important;
    color : white!important;

}

.formButton:focus,
.formButton:active {
    background-color: #a28089 !important;
    outline: none;
    box-shadow: none !important;
}

.generatedPoemButtonsDiv {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}