* {
    box-sizing: border-box;
}

.generatedPoemContainer {
    height: max-content !important;
    max-width: 100%;
    margin: auto;
}

.generatedPoemButton {
    width: 130px;
    height: 45px;
    text-align: center;
    padding: 5px;
}

.print-content {
    width: 105mm;
    min-height: 138mm;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 40px;
    page-break-inside: avoid;
}

.cardBackground {
    width: 105mm !important;
    min-height: 147mm !important;
    /* background-image: url("../img/poemBackground.jpg"); */
    background-size: cover;
}

#imgBravo {
    height: 32px;
    width: 32px;
    margin-left: 10px;
}

.bravoText {
    font-family: 'Dosis', sans-serif;
    background-color: #ffffff !important;

}

@media print {
    .print-container {
        width: 105mm !important;
        min-height: 148mm !important;
        
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
       
    }

    .print-content div{
        font-weight: lighter; 
    }

}

@media screen and (max-width: 767px) {
    .generatedPoemContainer {
        padding: 20px;
    }

    .generatedPoemButton {
        width: 120px;
        height: 40px;
        font-size: 14px!important;
    }

    .generatedPoemButtonsDiv{
            display : flex;
    }

    .print-content {
        width: 80vw;
        padding: 20px;
    }

    .cardBackground {
        width: auto !important;
    }

    #imgBravo {
        height: 28px;
        width: 28px;
    }

    .bravoText {
        font-size: 14px;
    }
}