* {
    box-sizing: border-box;
}

.generatedPoemContainer {
    height: max-content !important;
    margin: auto;
}

.generatedPoemButton {
    width: 130px;
    height: 45px;
    text-align: center;
    padding: 5px;
}

.print-content {
    width: 105mm;
    min-height: 138mm;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 40px;
    page-break-inside: avoid;
}

.cardBackground {
    width: 105mm !important;
    min-height: 147mm !important;
    /* background-image: url("../img/poemBackground.jpg"); */
    background-size: cover;
}



@media print {
    .print-container {
        width: 105mm !important;
        min-height: 148mm !important;
        
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
       
    }

    .print-content div{
        font-weight: lighter; 
    }

}